=snippet :'/snippets/top'

.span-24
  .span-3
    %img.span-3{:src => "#{@user.photo_url}"}
    =snippet :'/snippets/links'
  .span-20
    %h3 Create a new event
    Create a new event here. Add people you would like to invite.

    %form{:method => 'post', :action => '/event'}
      %input{:type => 'hidden', :name => '_method', :value => 'put'}
      %p Name
      %p
        %input.span-10{:type => 'text', :name => 'name'}
      %p Description
      %p
        %textarea.span-10{:name => 'description'}
      %p Venue
      %p
        %input.span-10{:type => 'text', :name => 'venue'}        
      %p Date
      %p
        %input.span-4#date{:type => 'text', :name => 'date'}
        :javascript
          var opts = { formElements:{"date":"d-ds-m-ds-Y"} };        
          datePickerController.createDatePicker(opts);
      %p Time
      %p
        %input.span-2#time{:type => 'text', :name => 'time'}        
        :javascript
          $("#time").timePicker({
            show24Hours: false,
            separator: ':',
            step: 15});
      %p People you want to invite
      %p
        %input.span-10{:type => 'text', :name => 'invites'}                
      %p
        %input{:type => 'submit', :value => 'create this event'}