=snippet :'/snippets/top'
=snippet :'/snippets/fblib'
%fb:serverfbml
  %script{:type=>"text/fbml"}
    %fb:fbml
      %fb:request-form{:action => "http://faceclone.saush.com/", :method => "GET", :invite => "true", :type => "Faceclone", :content => "I am a member of Faceclone and would like to invite you share the experience. To visit the Faceclone, simply click on the Visit button below.<fb:req-choice url='http://faceclone.saush.com/' label='Visit' />"}  
        %fb:multi-friend-selector{:showborder => "false", :actiontext => "Invite your Facebook Friends to use Faceclone"}  
=snippet :'/snippets/fbinit'
