.span-24
  .span-11
    %img.span-12.prepend-6{:src => '/images/colony_login.png'}
    .span-10.prepend-7
      %h2{:style => 'font-size:2em;margin-bottom:0.75em;margin-top:0; padding-top: 0;'} Connect with friends, share your life       
      .subtitle You don't need to register any accounts, just use an existing account from your favorite Internet provider!
  .span-3.prepend-9
    %a.rpxnow{:onclick => "return false;", :href => "https://colony.rpxnow.com/openid/v2/signin?token_url=#{@token}" } 
      %h2{:style => "font-size:2em;margin-bottom:0.75em;"} Sign In

%script{:type => 'text/javascript'}
  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static."); document.write(unescape("%3Cscript src='" + rpxJsHost + "rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));    
%script{:type => "text/javascript"}
  RPXNOW.overlay = true;
  RPXNOW.language_preference = 'en';

