.span-24
  .span-11
    %img.span-12.prepend-6{:src => '/images/colony_login.png'}
    .span-10.prepend-7
      %h2{:style => 'font-size:2em;margin-bottom:0.75em;margin-top:0; padding-top: 0;'} Connect with friends, share your life       
      .subtitle You don't need to register any accounts, just use an existing account from your favorite Internet provider!
  .span-3.prepend-9
    %a.rpxnow{:onclick => "return false;", :href => "https://colony.rpxnow.com/openid/v2/signin?token_url=#{@token}" } 
      %h2{:style => "font-size:2em;margin-bottom:0.75em;"} Sign In

