.span-24
  .span-11
    %img.span-12.prepend-6{:src => '/images/login_logo2.png'}
    .span-10.prepend-7
      %h2{:style => 'margin-top:0; padding-top: 0;'} Connect with friends, share your life       
      .subtitle You don't need to register any accounts, just use an existing Google, Yahoo, Facebook or Twitter account!
  .span-3.prepend-9
    %a.rpxnow{:onclick => "return false;", :href => "https://faceclone.rpxnow.com/openid/v2/signin?token_url=#{@token}" } 
      %h2 Sign In

