=snippet :'/snippets/top'
.span-3
  %img.span-3{:src => "#{@user.photo_url}"}
  =snippet :'/snippets/links'
.span-21.last
  %h3 Upload photos to an album
  - unless @albums.empty?
    .span-24.last    
      %form{:method => 'post', :action => '/upload', :enctype=>"multipart/form-data"}
        Upload photos to this album - 
        %select.span-8{:name => 'album_id'}
          - @albums.each do |album|
            %option{:value => "#{album.id}"} #{album.name}
        %hr.space
        .span-23.push-1
          %ol
            %li
              %input{:type => 'file', :name => 'file1', :size => 60}
            %li
              %input{:type => 'file', :name => 'file2', :size => 60}
            %li
              %input{:type => 'file', :name => 'file3', :size => 60}
            %li
              %input{:type => 'file', :name => 'file4', :size => 60}
            %li
              %input{:type => 'file', :name => 'file5', :size => 60}
            %li
              %input{:type => 'file', :name => 'file6', :size => 60}        
    
        %input{:type => 'submit', :value => 'upload'}
    - else
      %h3
        Looks like you don't have any albums yet. 
        %a{:href => "/album/add"} Create one 
        before uploading photos!