%hr.space
.span-3
  .icons.icons_messages
  %a{:href => '/messages/inbox'} Messages
.span-3
  .icons.icons_event
  %a{:href => '/events'} Events
.span-3
  .icons.icons_photo
  %a{:href => '/albums'} Photos
.span-3
  .icons.icons_pages
  %a{:href => '/pages'} Pages
.span-3
  .icons.icons_group
  %a{:href => '/groups'} Groups        
.span-3
  .icons.icons_friends
  %a{:href => '/friends'} Friends
%hr.space