- unless @user.requests.empty?
  .icons.icons_add_friend
  %a{:href => '/requests/pending'}    
    You have #{@user.requests.size} friend request(s). 
- else
  No pending friend requests
%br
- unless @user.pending_events.empty?
  .icons.icons_event
  %a{:href => '/events'}    
    You have #{@user.pending_events.size} pending event(s). 
- else
  No pending event