- if user.friends.empty?
  You don't have any friends in Colony! Start adding friends today!
- else 
  - user.friends[0..11].each do |f|
    %a{:href => "/user/#{f.nickname}"}
      %img.span-1{:src => "#{f.photo_url}"}

%hr.space    
- if user == @user
  %a{:href => "/friends"} view all
- else
  %a{:href => "/friends/#{user.id}"} view all