- user.friends[0..11].each do |f|
  %a{:href => "/user/#{f.nickname}"}
    %img.span-1{:src => "#{f.photo_url}"}

%hr.space    
- if user == @user
  %a{:href => "/friends"} view all
- else
  %a{:href => "/friends/#{user.id}"} view all