=snippet :'/snippets/top'
.span-24
  .span-3
    %img.span-3{:src => "#{@user.photo_url}"}
    =snippet :'/snippets/links'    
  .span-15
    %h3 #{@page.title}
    :markdown
      #{@page.body}
  
    %hr.space
    
    =snippet :'/snippets/comment_and_like', {:locals => {:item => @page}}

    
  .span-6.last
    %h3 Other pages
    =snippet :'/snippets/mini_pages', {:locals => {:owner => @user, :owner_name => 'user'}}