=snippet :'/snippets/top'
.span-24
  .span-3
    %img.span-3{:src => "#{@user.photo_url}"}
    =snippet :'/snippets/links'    
  .span-15
    %h3 #{@page.title}
    :markdown
      #{@page.body}
    
  .span-6.last
    =snippet :'/snippets/pages'